<!DOCTYPE html>
<html lang="ko">
 <style>
  html{
      font-size: 25px;
    }
  body{
    text-align: center;
  }
  ul{
    list-style-position: inside;
    padding: 0;
    text-align: center;
  }
  
  .mycolor{
    color: #29abc2;
  }
</style>
</head>
<body>

  <h1>공통 날짜</h1>

  {% if group %}
    <p>그룹 이름: <strong>{{ group['gName'] }}</strong></p>
  {% endif %}

  {% if common_dates %}
    <ul>
      {% for d in common_dates %}
        <li>{{ d['date'] }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>모든 사용자가 가능한 공통 날짜가 없습니다.</p>
  {% endif %}
  <a href="/groups/{{ gID }}/recommend/"class="mycolor">여행지 추천</a>
  <br>
  <a href="/groups/{{gID}}/dates/"class="mycolor">← 날짜 목록으로</a>
</body>
</html>
