<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>그룹 추가</title>
</head>
<body>
  <h1>그룹 추가</h1>

  <form action="/groups/create/" method="post">
    <p>
      그룹 이름: <input type="text" name="gName" required>
    </p>
    
    <p>
    1인당 예산(레벨):
    <select name="budget" required>
    <option value="1">1 (저예산)</option>
    <option value="2">2</option>
    <option value="3">3 (보통)</option>
    <option value="4">4</option>
    <option value="5">5 (고예산)</option>
    </select>
    </p>

    <p>
      인원 수: <input type="number" name="cnt_members" min="1">
    </p>
    <button type="submit">저장</button>
  </form>

  <p><a href="/groups/">그룹 목록으로</a></p>
</body>
</html>
