<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>가능 날짜</title>
  <style>
    html{
      font-size: 25px;
    }
  body{
    text-align: center;
  }
  ul{
    list-style-position: inside;
    padding: 0;
    text-align: center;
  }
  .actions{
    font-size: 30px;
    color:#29abc2;
  }
  .mycolor{
    color:#29abc2;
  }
  button {   
  padding: 1px 4px;     
  margin-left: 6px;
  background-color:rgb(255, 255, 255);
  border: 1px solid #29abc2;
  border-radius: 6px;
  }
  </style>
</head>
<body>

  <h1>{{ group['gName'] }} - 날짜 목록</h1>
  <p><a href="/dates/new/?gID={{ group['gID'] }}"class="mycolor">+ 날짜 추가</a></p>
  {% if dates %}
    <ul>
    {% for d in dates %}
      <li>
        {{ d['date'] }} ({{ d['uName'] }})

        <form action="/dates/{{ d['dateID'] }}/delete/" method="post" style="display:inline;">
            <input type="hidden" name="next_url" value="/groups/{{ group['gID'] }}/dates/">
            <button type="submit" onclick="return confirm('이 날짜를 삭제할까요?')">삭제</button>
        </form>
      </li>
    {% endfor %}
    </ul>
  {% else %}
    <p>등록된 가능 날짜가 없습니다.</p>
  {% endif %}

  <p>
    <a href="/groups/{{ group['gID'] }}"class="mycolor">← 그룹 상세</a>
  </p>

  <p class="actions">
    <a href="/groups/{{ group['gID'] }}/common_dates/" class="mycolor">공통 날짜 확인</a>
    |
    <a href="/groups/{{ group['gID'] }}/recommend/" class="mycolor">추천 받기</a>
  </p>
</body>
</html>
