<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>그룹에 사용자 추가</title>
  <style>
  html{
      font-size: 25px;
    }
  body{
    text-align: center;
  }
  ul{
    list-style-position: inside;
    padding: 0;
    text-align: center;
  }
  button {   
  padding: 1px 4px;     
  margin-left: 6px;
  background-color:rgb(255, 255, 255);
  border: 1px solid #29abc2;
  border-radius: 6px;
  }
  input{
    background-color: white;
    border:1.5px solid #29abc2;
  }
  select{
    background-color: white;
    border:1.5px solid #29abc2;
  }
  .mycolor{
    color: #29abc2;
  }
</style>
</head>
<body>

  <h1>그룹에 사용자 추가</h1>

  <form action="/group_members/create/" method="post">

  {% if gID %}
    <input type="hidden" name="gID" value="{{ gID }}">
    <input type="hidden" name="next" value="/groups/{{ gID }}">
    <p>그룹이 선택되어 있습니다: <strong>{{ selected_group['gName'] }}</strong></p>

  {% else %}
    <p>
      그룹 선택:
      <select name="gID" required>
        {% for g in groups %}
          <option value="{{ g['gID'] }}">{{ g['gName'] }}</option>
        {% endfor %}
      </select>
    </p>
  {% endif %}

  <p>
    사용자 선택:
    <select name="uID" required>
      {% for u in users %}
        <option value="{{ u['uID'] }}">{{ u['uName'] }}</option>
      {% endfor %}
    </select>
  </p>

  <button type="submit">추가</button>
</form>
  <p><a href="/groups/{{ gID }}"class="mycolor">← 그룹 상세로</a></p>
</body>
</html>
