<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>Travel Plan</title>
  <style>
    .container { display: flex; gap: 40px; }
    .box { width: 45%; }
  </style>
</head>
<body>

<h1>WHEN & WHERE TO GO?</h1>

<div class="container">
  
  <div class="box">
    <h2>그룹</h2>
    <a href="/groups/new/">+ 그룹 추가</a>
    <ul>
      {% for g in groups %}
        <li>
            <a href="/groups/{{ g['gID'] }}">{{ g['gName'] }}</a>

            <form action="/groups/{{ g['gID'] }}/delete/" method="post" style="display:inline;">
                <input type="hidden" name="next_url" value="/">
                <button type="submit" onclick="return confirm('이 그룹을 삭제할까요?')">
                    삭제
                </button>
            </form>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="box">
    <h2>사용자</h2>
    <a href="/users/new/">+ 사용자 추가</a>
    <ul>
      {% for u in users %}
        <li>
            {{ u['uName'] }}
            <form action="/users/{{ u['uID'] }}/delete/" method="post" style="display:inline;">
                <input type="hidden" name="next_url" value="/">
                <button type="submit" onclick="return confirm('이 사용자를 삭제할까요?')">삭제</button>
            </form>
        </li>
       {% endfor %}
    </ul>
  </div>
</div>

</body>
</html>
