<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <title>사용자 추가</title>
   <style>
  html{
      font-size: 25px;
    }
  body{
    text-align: center;
  }
  ul{
    list-style-position: inside;
    padding: 0;
    text-align: center;
  }
  button {   
  padding: 1px 4px;     
  margin-left: 6px;
  background-color:rgb(255, 255, 255);
  border: 1px solid #29abc2;
  border-radius: 6px;
  }
  input{
    background-color: white;
    border:1.5px solid #29abc2;
  }
  select{
    background-color: white;
    border:1.5px solid #29abc2;
  }
  .mycolor{
    color: #29abc2;
  }
</style>
</head>
<body>

  <h1>사용자 추가</h1>

  <form action="/users/create/" method="post">
    <p>
      이름: <input type="text" name="uName" required>
    </p>
    <p>
      여행 취향: 
      <select name="preference">
      <option value="관광">관광</option>
      <option value="휴양">휴양</option>
      <option value="음식관광">음식관광</option>
      </select>
    </p>
    <button type="submit">저장</button>
  </form>

  <p><a href="/users/" class="mycolor">사용자 목록으로</a></p>
</body>
</html>
